.left_box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.4;
    display: none;
    height: 100%;
    width: 25%;
    background-color: #ff0000;

}